* {
    margin: 0 auto;
    padding: 0;
}

:root {
    --main: #A259FF;
    --sub: #007bff;
}
input,
button
a {
    cursor: pointer;
}
button {
    border: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}
#wrap {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

/* header */
.real_header {
    width: 100vw;
    height: 80px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
    margin-bottom: 20px;
}
header {
    width: 1280px;
    height: 80px;
    display: flex;
}
.logo {
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.login_box {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.logo_box {
    position: absolute;
    left: 0;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.logo_box > img {
    width: 100px;
    height: 100px;
}
.login_btn_box {
    position: absolute;
    right: 0;
    display: flex;
    text-align: center;
}
.login_btn_box * {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.login_btn_box a {
    margin: 0 0 0 20px;
    border-radius: 10px;
    font-weight: 900;
}
.login_btn_box p:nth-child(3) {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-weight: 900;
    color: white;
}
.login_btn_box a:nth-child(1) {
    line-height: 36px;
    width: calc(100px - 4px);
    height: calc(40px - 4px);
    background-color: var(--sub);
    color: white;
    border: 2px solid var(--sub);
}
.login_btn_box a:nth-child(2),
.login_btn_box a:nth-child(4) {
    line-height: 40px;
    width: 100px;
    height: 40px;
    background-color: var(--main);
    color: white;
}
.menu_box {
    width: 72%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
}
.menu > li {
    float: left;
    margin: 0 20px 0 20px;
}
.menu a {
    color: white;
    font-weight: 900;
    text-decoration: none;
}
/* header */


.main {
    width: 1280px;
    height: calc(100vh - 200px);
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}
 
.main_container,
#preview {
    width: 50%;
    height: 100%;
}
#preview {
    border: none;
    background-color: white;
}
.select_lan {
    width: 100%;
    height: 50px;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
#language {
    position: absolute;
    left: 0;
    height: 100%;
}
#language > button {
    width: 120px;
    height: 100%;
    border: none;
    background-color: #212121;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
#language > button img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
#language > button:nth-child(1) {
    background-color: #1b1b1b;
}
#container {
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
}
.left {
    position: absolute;
    left: 0;
}

.upload {
    width: 100vw;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
.upload_box {
    width: 1280px;
    height: 70px;
    position: absolute;
    bottom: 10px;
    background-color: #212121;
    border-radius: 10px;
}
.upload_box form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sub_mit_box {
    display: flex;
    position: absolute;
    right: 0;
}
#upload_Code,
#save_Code,
#upload_Code,
#delete_data_box,
#code_box {
    margin: 0 10px 0 10px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    color: white;
    font-weight: 900;
}
#save_Code i {
    line-height: 50px;
}
#upload_Code i,
#upload_Code span,
#save_Code i,
#save_Code span,
#delete_data_box span,
#delete_data_box i,
#code_box span,
#code_box i {
    margin: 0 5px 0 5px;
}
#upload_Code {
    background-color: var(--main);
    color: white;
}
#code_box,
#delete_data_box {
    display: none;
}